[*.cs]

# CS8601: Posible asignación de referencia nula
dotnet_diagnostic.CS8601.severity = none

# CS8604: Posible argumento de referencia nulo
dotnet_diagnostic.CS8604.severity = none

# CS8602: Desreferencia de una referencia posiblemente NULL.
dotnet_diagnostic.CS8602.severity = none

# CS8600: Se va a convertir un literal nulo o un posible valor nulo en un tipo que no acepta valores NULL
dotnet_diagnostic.CS8600.severity = none

[*.sh]
# Force Unix-style line endings
end_of_line = lf